.faq {
  background: #f5f5f5;
  padding: 100px 0px;
}

.faq__title {
  color: var(--titleColor);
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 42px;
}

.faq__accordion {
    margin-bottom: 48px;
}

.faq-column {
  gap: 10px;
}

.faq__link {
    display: flex;
    justify-content: center;
}