.opportunities {
    padding: 100px 0px;
    background: var(--secondaryBgColor);
    color: var(--mainFontColor);
}

.opportunities__title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--secondaryTitleColor);
    margin-bottom: 80px;
}

.opportunities-row {
    align-items: stretch;
}