.application {
  padding: 40px 0px 0px 0px;
}

.application-row {
  gap: 30px;
  padding: 0px 30px;
}

.application__body {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.application__body-item {
  margin-left: auto;
  max-width: 470px;
}

.application__title {
  color: var(--titleColor);
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 16px;
}
.application__description {
  margin-bottom: 36px;
  line-height: 28px;
}

.application__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.application__link {
    flex: 0 1 auto;
}

.application__icon {
    height: 20px;
}
