.application {
  padding: 40px 0px 0px 0px;
  background: var(--mainBgColor);
  color: var(--mainFontColor);
}

.application-row {
  gap: 30px;
  padding: 0px 30px;
}

.application__body {
  flex: 1 1 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.application__title {
  color: var(--titleColor);
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 16px;
}
.application__description {
  margin-bottom: 36px;
  line-height: 28px;
}

.application__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.application__icon {
  font-size: 1.1rem;
}


.application__image {
  height: auto;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 840px) {
  .application__body-item {
    text-align: center;
  }
}