.header {
  padding: 20px 0px;
  background: #fff;
  transition: 0.3s border-bottom ease, 0.3s box-shadow ease;

}

.header--sticky {
  z-index: 1;
  border-bottom: 1px solid #cacaca;
  box-shadow: 0 0 20px #0000004d;
  top: 0;
  position: sticky;
}

.header-row--gap {
  gap: 27px;
}

.flex-auto {
  flex: 1 1 auto;
}

.header__phone-number {
  text-align: right;
}

.link--padding {
  display: inline-block;
}
