.faq__body {
  background: var(--mainBgColor);
  border-radius: 7px;
  box-shadow: 0px 0px 20px var(--boxShadowColor);
  overflow: hidden;
  width: 100%;
  max-height: 60px;
  transition: 0.5s max-height ease-in-out;
}



.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px 32px;
}
.faq__question-arrow {
  position: relative;
  width: 30px;
  height: 1px;
  display: flex;
  justify-content: center;
}
.faq__question-arrow:before,
.faq__question-arrow:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 15px;
  background: var(--mainFontColor);
  transition: 0.3s right;
}
.faq__question-arrow:before {
    transform: rotate(45deg);
    right: 10px;
}
.faq__question-arrow:after {
    transform: rotate(-45deg) ;
    right: 0;
}

.faq__question-arrow--active:before {
    right: 5px;
}
.faq__question-arrow--active:after {
    right: 5px;
}

.faq__question-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--secondaryTitleColor);
}

.faq__answer {
  line-height: 1.6;
  color: var(--mainFontColor);
  padding: 0px 32px 20px;
}

.faq__answer-link {
  color: #0d5fb8;
}

.faq__answer-link:hover {
  text-decoration: underline;
}


@media (max-width: 630px) {
 .faq__body {
   max-height: 80px;
 }
}

.faq__body--active {
  max-height: 100vh;
}