.advantage__body {
  width: 100%;
}
.advantage-row {
  gap: 30px;
}
.advantage-row--reverse {
  flex-direction: row-reverse;
}

.advantage__body-container {
  flex: 1 1 46%;
}

.advantage__item-title {
  color: var(--secondaryTitleColor);
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 12px;
}

.advantage__item-text {
  font-size: 18px;
  line-height: 28px;
  max-width: 600px;
  margin: 0 auto;
}
.advantage__body-image {
  flex: 1 0 48%;
  aspect-ratio: 1;
  max-width: 400px;
  padding: 0px 60px 0px;
  display: flex;
  overflow: hidden;
  align-items: start;
  border-radius: 50%;
  background: #f0f0f0;
  justify-content: center;
}

.advantage__image {
  width: 100%;
  height: auto;
}

.advantage__body-container--justify-center {
  display: flex;
  justify-content: center;
}

.advantage__image--align-self-end {
  align-self: flex-end;
}


@media (max-width: 585px) {
  .advantage__body-container {
      flex: 0 1 100%;
      text-align: center;
    }
}
