.header__button-container {
  flex: 1 1 auto;
  text-align: right;
}

.header__button-toggle {
  font-size: 1.1rem;
  color: inherit;
  display: inline-block;
}

.header__input-toggle {
  display: none;
}

.header__label {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background: var(--togglerBgColor);
}

.header__label:before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--titleColor);
  transition: 0.3s left;
}

.switcher-icon {
  user-select: none;
  position: absolute;
  top: calc(50% - 10px);
  transform: scale(0);
  height: 20px;
  transition: 0.2s transform 0.1s cubic-bezier(0, 0.57, 0.71, 1.31);
}

.switcher-icon--active {
  transform: scale(1);
}

.header__label-moon {
  left: calc(100% - 25px);
  filter: invert(10%) sepia(4%) saturate(15%) hue-rotate(314deg) brightness(95%)
    contrast(77%);
}

.header__label-sun {
  left: 7px;
  filter: invert(99%) sepia(3%) saturate(894%) hue-rotate(300deg)
    brightness(115%) contrast(77%);
}

.header__input-toggle--light + .header__label:before {
  left: 7px;
}
.header__input-toggle--dark + .header__label:before {
  left: calc(100% - 25px);
}
