.link {
  text-align: center;
}
.link--secondary {
  line-height: 1.25;
  border-radius: 100px;
  background: #fff;
  font-size: 0.875rem;
  padding: 15px 28px;
  border: 1px solid rgb(136, 136, 136);
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 35%;
  max-width: 300px;
  white-space: nowrap;
}

.link--secondary-orange {
  background: #ff5d02;
  border-radius: 24px;
  color: #fff;
  padding: 12px 42px;
  font-weight: 600;
  line-height: 1.5;
}

@media (max-width: 590px) {
  .link--secondary-orange {
    padding: 12px 30px;
  }
}
